<h1>Experiments</h1>
<% @experiments.each do |experiment| %>
  <h2><%= experiment.slug.to_s.humanize %></h2>
  <ul>
    <% experiment.variants.each do |variant| %>
      <li>
        <h3><%= variant.to_s.humanize %></h3>
        <% experiment.metric_slugs.each do |metric_slug| %>
          <% metric = Absurdity::Metric.find(metric_slug, experiment.slug, variant) %>
          <p><%= "#{metric.slug.to_s.humanize} : #{metric.count}" %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>