<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>XING Mobile Web App - Absurdity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="apple-touch-icon" href="/images/iphone_favicon.png">
    <link rel="prev" href="/">
  </head>

  <body>
    <%= yield %>
  </body>

</html>
